.register--image {
    width: 40vw;
    height: 90vh;
}

.login--form {
    position: relative;
    top: 4rem;
}

.font-bold {
    font-weight: 700;
}

/* input.ng-invalid {
    border: 2px solid red;
}

input.ng-valid {
    border: 2px solid green;
} */